* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

.number {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1080px;
    margin: auto;
    justify-self: center;

    display: grid;
    grid-template-areas:
        'header header sidebar'
        'nav section sidebar'
        'nav content sidebar'
        'footer footer footer';
    grid-template-columns: 3fr 8fr 2fr;
    grid-template-rows: 100px auto 1fr 100px;
}

.block {
    border: 1px solid black;
    display: flex;
    /* font-size: 1.25em; */
}

header,
footer {
    background-color: lightsteelblue;
    padding: 30px;
    
    align-items: center;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: lightgreen;
}

nav,
section {
    background-color: peachpuff;
}

section,
article {
    padding: 10px;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
    
    max-height: 7em;
    max-width: 100%;
}

article {
    grid-area: content;
}

footer {
    grid-area: footer;

    justify-content: right;
}

p {
    padding: .5em 0;
}