* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.number {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    justify-self: center;
    word-break: break-word;

    display: grid;
    grid-template-areas:
        'header header sidebar'
        'nav section sidebar'
        'nav content sidebar'
        'footer footer footer';
    grid-template-columns: 200px minmax(700px, 1fr) 300px;
    grid-template-rows: 100px auto 1fr 100px;

    flex-grow: 1;
}

.block {
    /* border: 1px solid black; */
}

header,
footer {
    background-color: lightsteelblue;
    padding: 30px;
    
    display: flex;
    align-items: center;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: lightgreen;
}

nav,
section {
    background-color: peachpuff;
}

section,
article,
aside {
    padding: 10px;
    text-align: justify;
}

nav {
    grid-area: nav;
}

nav ul {
    list-style: none;
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

nav ul li {
    padding: 5px 0;
    cursor: pointer;
}

nav ul li.item {
  position: relative;
  width: auto;
  margin: 0 10px;
}

section {
    grid-area: section;
    
    max-height: 7em;
    max-width: 100%;
}

article {
    grid-area: content;
}

footer {
    grid-area: footer;

    justify-content: right;
}

p {
    padding: .4em 0;
}

ol,
ul {
    padding-left: 20px;
    margin: 10px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    size: 100%;
}

@media (max-width: 1200px) {
    aside {
        display: none;
    }

    .container {
        grid-template-areas:
            'header header'
            'nav section'
            'nav content'
            'footer footer';
        grid-template-columns: 200px auto;

        max-width: 100%;
        margin: 0;
  }
}